:root{
    --vermelho:#E50914;
    --preto:#141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: var(--preto);
    font-family: Arial, Times, serif;
    color: white;
}

/* Elementos base*/

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    color: var(--vermelho);
    font-family: "Arial Black", TImes;
    font-size: 40px;
    margin-left: 50px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover{
    color: #FFF;  
}

/*Elementos relacionados ao filme*/

.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)), url('../img/capa_house.jpg');
    height: 600px;
    background-size: cover;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.filme-principal .descricao{
    margin-bottom: 40px;
    margin-top: 10px;
}

.titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao{
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color: white;
    color: black;
}

.botao i{
    margin-right: 8px;
}

.container{
    margin-left: 20px;
    padding: 10px;
}

.menu-principal .container{
    width: 70%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.carrousel-filmes{
    margin-top: 50px;
}