body{
    background-color: #f7f7f7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    max-width: 900px;
}

#title, .subtitle, .post_title{
    color: #505050;
}

.photo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid #505050;
}

#title{
    font-size: 40px;
    text-transform: uppercase;
}
a{
    text-decoration: line-through;
    color: #505050;
    text-transform: capitalize;
}
.post_title{
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post{
    background-color: white;
    padding: 15px;
    border: 3px solid #505050;
    margin-bottom: 15px;
    border-radius: 5px;
}

.post_content{
    margin: 0;
    margin-bottom: 15px;
    text-align: justify;
    
}

.post_image{
    width: 100%;
    margin-bottom: 15px;
}

.contact_list{
    list-style-type: none;
    padding-left: 15px;
}

.contact_list li a{
    text-decoration: none;
}